html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px; /* Margin bottom by footer height */
  background-color: #0b0c10; 
  color: #C5C6C7;
  font-family: 'Roboto', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px; /* Set the fixed height of the footer here */
  text-align:center;
  padding-top:25px;
}
.rls-container {
	display:inline-block;
	vertical-align:middle;
}
.artist-credit {
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}
.artist-credit p {
	margin:0;
}
.add-account {
	margin: 50px auto;
	margin-top:25px;
	max-width:768px;
}
.update-button-container {
	text-align:center;
}
.header-image {
	max-width:600px;
	text-align:center;
	margin: 0 auto;
	margin-top:25px;
	color: #66FCF1;
	font-weight: bold;
	font-size: 60px;
}
label {
	white-space: nowrap;
}
.account-table-container {
	max-width:1200px;
	overflow-x:auto;
	margin:20px auto;
}
thead th:nth-child(1) {
	min-width:64px;
}
thead th:nth-child(2), thead th:nth-child(3), thead th:nth-child(4) {
	min-width:135px;
}
thead th:nth-child(5), thead th:nth-child(6), thead th:nth-child(7), thead th:nth-child(8) {
	min-width:125px;
}

.td-mmr {
	display:block;
}
.td-division {
	display:block;
	font-size: 12px;
}
.rank-image-div {
	vertical-align:middle;
	display:inline-block;
	width:40px;
	height:40px;
}
.rank-span-div {
	vertical-align:middle;
	display:inline-block;
	text-align:center;
	width:40px;
	height:40px;
}
.rank-th {
	text-align:center;
}
.rank-td {
	text-align:center;
}
.w-m {
	width: 13%;
}
.w-s {
	width: 5%;
}
.long-word {
	word-wrap: break-word;
	word-break: break-all;
}
.account-table-container thead th {
	background-color:#1F2833 !important;
	border-color: #45A29E !important;
	color:#C5C6C7 !important;
}
.account-table-container tbody td {
	border-color: #45A29E !important;
}
.remove-account {
	background-color: #0b0c10;
	border: 1px solid #45A29E;
}
.fa-times {
	color:#C5C6C7;
}
#add-account, #update-ranks {
	background-color: #1F2833;
	border: 1px solid #45A29E;
	color:#C5C6C7;
}
.form-control {
	border: 1px solid #45A29E;
	background-color:#0b0c10;
	color:#C5C6C7 !important;
}
.form-control:focus {
  border-color: #66FCF1 !important;
  box-shadow: 0 0 5px 2px rgba(102, 252, 241, 0.8) !important;
  background-color:#0b0c10;
  
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
.tippy-tooltip {
	background-color:white;
}
.avatar-container {
	width:40px;
	height:40px;
}
.avatar-td {
	text-align:center;
}

/* tablesorter */
table.tablesorter thead tr th.header {
	background-image: url(../imgs/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter thead tr th.headerSortUp {
	background-image: url(../imgs/asc.gif) !important;
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter thead tr th.headerSortDown {
	background-image: url(../imgs/desc.gif) !important;
	background-repeat: no-repeat;
	background-position: center right;
}

